/*chrome like initial tab space*/
#tabbrowser-tabs {
    margin-left: 30px !important;
    margin-bottom: -1px !important;/*no bottom tab border*/
}
/*maintoolbar shadow, hides ugly black toolbar border */
#nav-bar { /* main toolbar */
    -moz-box-ordinal-group: 1 !important;
    box-shadow: 1px 1px 1px 1px #cfd5e6 !important;
}
/*remove separators*/
.tabbrowser-tab::after,
.tabbrowser-tab::before {
    display: none !important;
}

/*rightshift*/
.tabbrowser-tab {
    margin: 0 -23px 0 0px !important;
}

/*no tab line*/
.tab-line {
    display: none !important;
}
/*rightshift tabcontent*/
.tab-content {
    padding: 0 25px !important;
}
/*move newtab button to the right*/
.tabs-newtab-button.toolbarbutton-1 {
    margin-left: 20px !important;
}
/*hm?*/
.titlebar-placeholder[type="pre-tabs"] {
    border-inline-end: initial !important;
}

#tabbrowser-tabs:not([movingtab])>.tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab]>.tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after {
    margin-top: 0;
    margin-bottom: 1px;
    border: none !important;
}

[tabsintitlebar]:root:not([extradragspace]) .tabbrowser-tab::after,
.tabbrowser-tab:hover::after,
#tabbrowser-tabs:not([movingtab])>.tabbrowser-tab[beforehovered]::after {
    border: none !important;
}

/*chrome like buttons*/
#PanelUI-menu-button {
    list-style-image: url("chrome://browser/skin/page-action.svg") !important;
    transform: rotate(90deg)
}

#PanelUI-button{
    border-image-slice: 0 !important;
}

/*tab style*/
tab:after { display: none !important; }
tab:before { border: none!important; }
#titlebar-buttonbox { margin-top: -5px; }
tab>.tab-stack>.tab-background { 
    border-color: #cfd5e6 !important;
    border-radius: 2px !important;
    border-width: 1px 1px 0 1px !important;
    border-style: solid !important;
    margin: 0 10px 0 !important;
    -moz-transform: perspective(100px) rotateX(30deg);
}
